node_modules/*
*/node_modules/*
/self-signed-certificates
*.swp
*/platforms
*/plugins
*/logs
*/_certs
.idea/*
tasker/.idea/*
tasker-srv/npm-debug.log

*.espressostorage

tasker-srv/cookies.txt

tasker-srv/tasker.html

tasker-srv/public/halbrowser
/ch6/nbproject/private/
*.js#


*/*.tern-port

APIKeys.*

*.log

*.js~
*.py~
*.html~
*.css~

.brackets.json
*/.zedstate

ch5/www/js/app/.tern-port

ch7/www/.zedstate

tasker-srv/pge-tasker-srv.colt
pge-tasker-srv.colt